{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link href="{% static 'css/equipment.css' %}" rel="stylesheet">
</head>
<body>
    <table>
      <tr>
        <th>Facility Name</th>
        <th>Facility Address</th>
        <th>Number of people trained</th>
        <th>Number of researchers</th>
        <th>Number of publications</th>
        <th>Number of samples</th>
      </tr>
    {% for facility in facilities %}
      <tr>
        <td>{{ facility.name }}</td>
        <td>{{ facility.address }}</td>
        <td>{{ model.num_of_people_trained}}</td>
        <td>{{ model.num_of_researchers}}</td>
        <td>{{ model.num_of_publications}}</td>
        <td>{{ model.num_of_samples}}</td>
      </tr>
    {% endfor %}
    </table>

</body>
</html>

