<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
td {
  text-align: left;
}

</style>
</head>
<body>

<h1>Healtonic</h1>
<p>Question 2</p>
<p>Select the equipment(s) for which you want to see the data:</p>
<table align="center">
<tr>
<td><input type="checkbox" id="equipment1" name="equipment1" value="1"></td>
<td><label for="equipment1"> Mass spectrometer</label></td>
</tr>
<tr>
<td><input type="checkbox" id="equipment2" name="equipment2" value="2"></td>
<td>
<label for="equipment2"> Confocal microscope</label></td>
</tr>
<tr>
<td><input type="checkbox" id="equipment3" name="equipment3" value="3"></td>
<td><label for="equipment3"> Flow cytometer</label></td></tr>
<tr>
<td>
<input type="checkbox" id="equipment4" name="equipment4" value="4"></td>
<td><label for="equipment4"> Centrifuge</label></td></tr>
<tr>
<td><input type="checkbox" id="equipment5" name="equipment5" value="5"></td>
<td><label for="equipment5"> Fluorometer</label></td></tr>
</table>
<input type= submit name=submit value=submit id=submit>

</body>
</html>